* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}

#color {
  color: #1e64a0;
}

.color1 {
  color: #8f8e94;
}

.login-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-main {
  background: whitesmoke;
  width: 400px;
  height: 350px;
  //   background: white;
  text-align: center;
  padding: 10px;
  padding: 40px 0px;
  border-radius: 5px;

  .login-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;

    input {
      width: 90%;
      height: 50px;
      margin-bottom: 12px;
      margin-top: 12px;
      padding: 5px;
      font-size: 20px;
    }
  }

  .login-btn {
    background-color: #1e64a0;
    color: white;
    margin: 10px;
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }
}

.dashboard-main {
  .header {
    background-color: #1e64a0;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .first-header {
      display: flex;
      justify-content: space-between;
      padding: 9px 20px;

      .date {
        padding-left: 15px;
      }

      i {
        padding-left: 5px;
        // font-weight: 100;
      }
      .dot {
        color: #14446b;
      }
    }

    .second-header {
      display: flex;
      justify-content: space-between;
      padding: 9px 20px;

      i {
        padding-right: 15px;
        font-size: 14px;
      }
    }
  }
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  margin-top: 20px;

  .search {
    width: 90%;
    margin: auto;
    border: 1px solid #8f8e94;
    height: 45px;
    border-radius: 35px;

    i {
      padding: 12px;
      font-size: 20px;
      color: #8f8e94;
    }

    input {
      font-size: 20px;
      outline: none;
      border: none;
    }
  }
}

.trip {
  padding: 20px 15px;
}
.no-trip {
  padding-bottom: 25px;
  padding-top: 5px;
}

.container {
  display: flex;
  justify-content: space-between;

  b {
    color: #1e64a0;
  }

  i {
    font-size: 27px;
    padding: 10px;
  }
}

.box-1 {
  width: 44%;
  margin-left: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgba(57, 56, 56, 0.75);
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-2 {
  width: 44%;
  margin-right: 15px;
  border-radius: 10px;
  height: 145px;
  box-shadow: 0px 0px 4px 1px rgba(57, 56, 56, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-3 {
  width: 44%;
  margin-left: 15px;
  margin-top: 15px;
  border-radius: 10px;
  height: 145px;
  box-shadow: 0px 0px 4px 1px rgba(57, 56, 56, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
html {
  height: 100%;
  margin: 0;
}

.dashboard-outer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.dashboard-main {
  flex: 1;
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  color: black;
  background-color: white;
  // display: flex;
  // z-index: 1111;
  max-width: 450px !important;

  .scan-member {
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: #1e64a0;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;

    i {
      padding-right: 10px;
    }

    b {
      padding-left: 10px;
    }
  }
}
@media (max-width: 700px) {
  .container {
    align-items: center;
    width: 60%; // Adjust the width as needed
    margin: auto;
  }
}

.today-main {
  padding-bottom: 10px;
  .header {
    background-color: #1e64a0;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 450px !important;

    .first-header {
      display: flex;
      justify-content: space-between;
      padding: 9px 20px;
      // padding-bottom: 0px;
      align-items: center;

      .date {
        padding-left: 15px;
      }

      i {
        padding-left: 4px;
        // font-weight: 100;
      }
      .dot {
        color: #14446b;
      }
    }

    .second-header {
      display: flex;
      justify-content: space-between;
      padding: 11px 20px;

      i {
        font-size: 16px;
        // font-weight: 100;
      }
      b {
        padding-left: 14px;
      }
      .first {
        padding-right: 22px;
        font-size: 15px;
      }
      .second {
        padding-right: 1px;
        font-size: 15px;
      }
    }
  }

  .trip {
    display: flex;
    justify-content: space-between;

    .calender {
      padding: 6px 15px;
      border: 1px solid #8f8e94;
      border-radius: 25px;

      b {
        font-size: 14px;
      }
      i {
        color: #8f8e94;
        font-size: 18px;
        padding-left: 10px;
      }
    }
  }

  .next-trip {
    padding-left: 15px;

    padding-bottom: 15px;
  }
}

hr {
  border-top: 5px solid #111 !important;
  margin: auto !important ;
  border-radius: 10px !important;
  width: 35% !important;
  margin-bottom: 10px !important;
}

.box {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 1px rgba(57, 56, 56, 0.75);
  margin-bottom: 15px;

  .hr {
    height: 23vh;
    margin: 5px 0px;
    border-radius: 5px;
    position: absolute;
    border: 2px solid #8f8e94;
  }
  .box-in {
    // border-left: 5px solid #8f8e94;
    padding: 10px;
    border-radius: 10px;
    color: #8f8e94;
    span {
      color: #111;
    }

    .box-1 {
      display: flex !important;
      justify-content: space-between;
      flex-direction: row;
      border: 0px;
      border-radius: 0px;
      box-shadow: none;
      border-bottom: 1px solid;
      width: auto;
      height: auto;
      margin: 0px;
      padding: 0px;

      color: #8f8e94;
      span {
        color: #111;
      }

      .first {
        width: 50%;
        // border: 1px solid;
      }
      .second {
        width: 50%;
        // border: 1px solid;
      }
    }

    .view-details {
      padding: 8px 15px;
      border-radius: 20px;
      margin: 10px;
      border: 1px solid #1e64a0;
      display: block;
      width: 120px;
      cursor: pointer;
      color: #1e64a0;
    }
  }
}

.tripList-outer {
  // padding-bottom: 5px !important;
  // margin-bottom: 5px;
  .tripList-main {
    .header {
      background-color: #1e64a0;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      // position: fixed;
      // top: 0;

      .first-header {
        // max-width: 450px !important;
        display: flex;
        justify-content: space-between;
        padding: 9px 20px;
        // padding-bottom: 0px;
        align-items: center;

        .date {
          padding-left: 15px;
        }

        i {
          padding-left: 4px;
          // font-weight: 100;
        }
        .dot {
          color: #14446b;
        }
      }

      .second-header {
        display: flex;
        justify-content: space-between;
        padding: 11px 20px;
        // max-width: 450px !important;

        i {
          font-size: 16px;
          // font-weight: 100;
        }
        b {
          padding-left: 14px;
        }
        .first {
          padding-right: 22px;
          font-size: 15px;
        }
        .second {
          padding-right: 1px;
          font-size: 15px;
        }
      }
    }

    .total {
      display: flex;
      justify-content: end;
    }
  }
}

.member-list {
  width: 33.33%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: auto;
  align-items: center;

  .list-id {
    color: #8f8e94;
  }
}

.am-bus {
  outline: green;
  background-color: lightgreen;
  color: green;
  border: 1px solid green;
  border-radius: 25px;
  width: 200px;
  font-size: 13px;
  padding: 3px 0px;
}

.pm-bus {
  outline-color: red;
  background: lightpink;
  color: red;
  border: 1px solid red;
  border-radius: 25px;
  width: 200px;
  font-size: 13px;
  padding: 3px 0px;
}
.waiting {
  outline: #8f8e94;
  background-color: #e4e3e5;
  color: #8f8e94;
  border: 1px solid #8f8e94;
  border-radius: 25px;
  width: 200px;
  font-size: 13px;
  padding: 3px 0px;
}
.tp {
  // margin-bottom: 2px !important;
}

.scan-main {
  .header {
    background-color: #1e64a0;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 450px !important;

    .first-header {
      display: flex;
      justify-content: space-between;
      padding: 9px 20px;
      // padding-bottom: 0px;
      align-items: center;

      .date {
        padding-left: 15px;
      }

      i {
        padding-left: 4px;
        // font-weight: 100;
      }
      .dot {
        color: #14446b;
      }
    }

    .second-header {
      display: flex;
      justify-content: space-between;
      padding: 11px 20px;

      i {
        font-size: 16px;
        // font-weight: 100;
      }
      b {
        padding-left: 14px;
      }
      .first {
        padding-right: 22px;
        font-size: 15px;
      }
      .second {
        padding-right: 1px;
        font-size: 15px;
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    // border: 1px solid;

    .scan-box {
      width: 90%;
      height: 300px;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0px 0px 4px 1px rgba(57, 56, 56, 0.75);
      display: flex;
      justify-content: center;
      align-items: center;

      .scan-1 {
        width: 100%;
        // border: 1px solid;
        b {
          display: block;
          padding-left: 20px;
        }
        input {
          display: block;
          width: 90%;
          margin: auto;
          padding: 7px;
          padding-left: 15px;
          margin: 10px auto;
          border-radius: 30px;
        }
        button {
          display: block;
          width: 90%;
          margin: auto;
          color: white;
          background-color: #1e64a0;
          border: none;
          padding: 7px;
          margin: 5px auto;
          border-radius: 30px;
        }
      }
    }
  }
}

.scanDetail-main {
  .header {
    background-color: #1e64a0;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 450px !important;

    .first-header {
      display: flex;
      justify-content: space-between;
      padding: 9px 20px;
      // padding-bottom: 0px;
      align-items: center;

      .date {
        padding-left: 15px;
      }

      i {
        padding-left: 4px;
        // font-weight: 100;
      }
      .dot {
        color: #14446b;
      }
    }

    .second-header {
      display: flex;
      justify-content: space-between;
      padding: 11px 20px;

      i {
        font-size: 16px;
        // font-weight: 100;
      }
      b {
        padding-left: 14px;
      }
      .first {
        padding-right: 22px;
        font-size: 15px;
      }
      .second {
        padding-right: 1px;
        font-size: 15px;
      }
    }
  }

  .box1 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-bottom: 1px solid #8f8e94;

    color: #8f8e94;

    span {
      color: #111;
    }
  }

  .box2 {
    display: flex;
    justify-content: space-between;
    padding: 12px;
    // border-bottom: 1px solid #8f8e94;

    color: #8f8e94;

    span {
      color: #111;
    }
  }
}

.scan-1 {
  width: 100%;
  // border: 1px solid;
  b {
    display: block;
    padding-left: 20px;
  }
  input {
    display: block;
    width: 90%;
    margin: auto;
    padding: 7px;
    padding-left: 15px;
    margin: 10px auto;
    border-radius: 30px;
  }
  button {
    display: block;
    width: 90%;
    margin: auto;
    color: white;
    background-color: #1e64a0;
    border: none;
    padding: 7px;
    margin: 5px auto;
    border-radius: 30px;
  }
}

.memberDetail-btn {
  text-align: center;
  justify-content: center;
  display: flex;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  color: black;
  background-color: white;
  max-width: 450px !important;

  .memberDetail-btn-1,
  .memberDetail-btn-2 {
    padding: 10px;
    background: rgb(255, 0, 0);
    color: white;
    width: 45% !important; // Set the width to 45% for both buttons
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
  }

  .memberDetail-btn-2 {
    margin-left: 10px;
  }
}
.am_on_bus {
  background: green !important;
  padding: 10px;
  color: white;
  width: 45% !important;
  border-radius: 30px;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

.scan {
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  border-radius: 5px;
  color: black;
  background-color: white;
  max-width: 450px !important;

  .scan-member {
    width: 90%;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: #1e64a0;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 10px;
    cursor: pointer;

    i {
      padding-right: 10px;
    }

    b {
      padding-left: 10px;
    }
  }
}
